/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar[b-v8kj3ta392] {
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
  margin-bottom: 0% !important;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  background-color: #E7E7E7;
  color: #0F0F0F;
  width: 100%;
  text-align: center;
  height: 250px;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 0px;
}

.firstRow-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 120px;
  padding-top: 40px;
  position: relative;
  box-sizing: border-box;
}

.linkFooter a { 
  color: #0F0F0F;
  text-decoration: none;
  padding: 35px;
  font-size: 20px;
}

.container-footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center; 
}

.container-footer hr {
  width: 84%; 
  color: #7E7E7E;
  border: 1px solid #7E7E7E;
}

.logoFooter h3 { 
  color: #F8D146;
  font-weight: bold;
}

.logoFooter span {
  color: #0F0F0F;
}

.garis{
  display: flex;
  justify-content: center;
}

.icon-footer { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 40px;
}

.copyright-footer {
  color: #0F0F0F;
  font-size: 16px;
}

.noLink{
  color: black;
  text-decoration: none;
}

