<link rel="stylesheet" href="~/css/aboutUs.css">

<div>
    <div class="about-header">
        <div class="about-header-image">
            <img id="about-img" src="https://i.pinimg.com/736x/33/8f/cd/338fcd983a58736d3ba79e25aaf9b357.jpg" alt="image-not-found">
        </div>
        <div class="overlay-aboutUs">
            <h1>About Us</h1>
            <p>Your Movie Journey Starts Here. Experience the magic at WeCinema today!</p>
        </div>
    </div>
    <div class="information-aboutUs">
        <div class="aboutUs-part1">
            <h2>Welcome to <span class="about-we">We</span>Cinema</h2>
            <h4>Where every movie experience is more than just a film—it's a journey.</h4>
            <p>At WeCinema, we believe in the magic of storytelling, the thrill of a big screen, and the joy of sharing unforgettable moments. As your ultimate cinema destination, we are committed to bringing you the latest blockbusters, timeless classics, and exclusive screenings in a world-class viewing environment.</p>
        </div>
        <div class="aboutUs-part2-title">
            <h1>What We Stand For</h1>
        </div>
        <div class="aboutUs-part2">
            <div class="part2-information">
                <img src="https://voyagemia.com/wp-content/uploads/2017/08/personal_photo-6-1000x600.png" alt="image-not-found">
                <h2>Quality Entertainment</h2>
                <p>Immerse yourself in crystal-clear visuals, heart-pounding sound, and unparalleled comfort.</p>
            </div>
            <div class="part2-information">
                <img src="https://hyperli.com/cdn/shop/files/17_20on_20Buffalo_20_2815_29.jpg?v=1718744731" alt="image-not-found">
                <h2>Community Connection</h2>
                <p>WeCinema is more than just a place to watch movies. It’s a space to connect, celebrate, and create memories with friends and family.</p>
            </div>
            <div class="part2-information">
                <img src="https://i.pinimg.com/736x/2e/b7/e2/2eb7e2d2d15cfa678a056835a0bb0103.jpg" alt="image-not-found">
                <h2>Innovation</h2>
                <p>From online bookings to private screenings, we constantly innovate to make your movie-going experience seamless and exceptional.</p>
            </div>
        </div>
    </div>
</div>