<link rel="stylesheet" href="~/css/promotion.css"/>
<link href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap' rel='stylesheet'>

<header class = "header">
<img src = "https://img.antaranews.com/cache/1200x800/2024/03/09/WhatsApp-Image-2024-03-09-at-08.00.57_1375c69e.jpg.webp">
    <div class = "overlay">
        <h1>Promotion</h1>
        <p>Promotions & Offers - Enjoy More with WeCinema!</p>
    </div>
</header>

 <section class="promotions">
    <div class="promo-container">
      <img src="https://i.pinimg.com/736x/a5/65/76/a56576c56d4f8ed6d8ca89bfdd26243a.jpg" alt="Promotion Image">
      <h3><b>Tuesday Discount Save until 40%</b></h3>
      <div class="promo-details">
        <svg width="30" height="30" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.45833 14.4801V14.4158M10.2083 14.4801V14.4158M10.2083 10.9954V10.9311M13.5417 10.9954V10.9311M3.95833 7.57492H15.625M5.46627 2.65808V3.94089M13.9583 2.65808V3.94073M13.9583 3.94073H5.625C4.24429 3.94073 3.125 5.08926 3.125 6.50604V15.0571C3.125 16.4739 4.24429 17.6225 5.625 17.6225H13.9583C15.339 17.6225 16.4583 16.4739 16.4583 15.0571L16.4583 6.50604C16.4583 5.08926 15.339 3.94073 13.9583 3.94073Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <p>Valid every Tuesday until 31/12/2024</p>
      </div>
    </div>

    <div class="promo-container">
      <img src="https://i.pinimg.com/736x/9a/56/c2/9a56c2fade8bd912346b784debda89c1.jpg" alt="Promotion Image">
      <h3><b>Early Bird Tickets – Save 10% off</b></h3>
      <div class="promo-details">
        <svg width="30" height="30" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.45833 14.4801V14.4158M10.2083 14.4801V14.4158M10.2083 10.9954V10.9311M13.5417 10.9954V10.9311M3.95833 7.57492H15.625M5.46627 2.65808V3.94089M13.9583 2.65808V3.94073M13.9583 3.94073H5.625C4.24429 3.94073 3.125 5.08926 3.125 6.50604V15.0571C3.125 16.4739 4.24429 17.6225 5.625 17.6225H13.9583C15.339 17.6225 16.4583 16.4739 16.4583 15.0571L16.4583 6.50604C16.4583 5.08926 15.339 3.94073 13.9583 3.94073Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <p>Valid everyday before 12 PM until 15/01/2025</p>
      </div>
    </div>

    <div class="promo-container">
      <img src="https://i.pinimg.com/736x/da/5d/a1/da5da1b5b97d788c93b533ca598fc681.jpg" alt="Promotion Image">
      <h3><b>Monday Combo - Popcorn and Ticket Rp 60.000</b></h3>
      <div class="promo-details">
        <svg width="30" height="30" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.45833 14.4801V14.4158M10.2083 14.4801V14.4158M10.2083 10.9954V10.9311M13.5417 10.9954V10.9311M3.95833 7.57492H15.625M5.46627 2.65808V3.94089M13.9583 2.65808V3.94073M13.9583 3.94073H5.625C4.24429 3.94073 3.125 5.08926 3.125 6.50604V15.0571C3.125 16.4739 4.24429 17.6225 5.625 17.6225H13.9583C15.339 17.6225 16.4583 16.4739 16.4583 15.0571L16.4583 6.50604C16.4583 5.08926 15.339 3.94073 13.9583 3.94073Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        <p>Valid every Tuesday until 31/12/2024</p>
      </div>
    </div>
</section>
