<link rel="stylesheet" href="~/css/seat.css">

<div class="cinema-container">
    <div class="screen-wrapper">
        <div class="screen"></div>
        <h5>Screen</h5>
    </div>

    <div class="seats-container-wrapper">

        <div id="seats-wrapper">
        </div>

        <div class="column-labels">
            <div class="column-label">1</div>
            <div class="column-label">2</div>
            <div class="column-label">3</div>
            <div class="spacer"></div>
            <div class="column-label">4</div>
            <div class="column-label">5</div>
            <div class="column-label">6</div>
            <div class="column-label">7</div>
            <div class="column-label">8</div>
            <div class="column-label">9</div>
            <div class="column-label">10</div>
            <div class="column-label">11</div>
            <div class="column-label">12</div>
            <div class="column-label">13</div>
            <div class="column-label">14</div>
            <div class="column-label">15</div>
            <div class="spacer"></div>
            <div class="column-label">16</div>
            <div class="column-label">17</div>
            <div class="column-label">18</div>
        </div>
    </div>

    <div class="legend">
        <div><span class="seat selected"></span> <p>Selected</p></div>
        <div><span class="seat available"></span> <p>Available</p></div>
        <div><span class="seat taken"></span> <p>Taken</p></div>
    </div>
</div>

<script src="~/js/SeatSelection.js"></script>